<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_head.html") %>
    <style>
      [ng-cloak] {
      display: none;
      }
    </style>
  </head>
  <body ng-app="olympics-table">

    <responsive-child>
      <div ng-controller="OlympicsController" class="outer" ng-cloak>
        <div class="search-container">
          <span class="search">Search:</span>
          <input type="text" ng-model="searchText">
        </div>

        <table>
          <tr>
            <th ng-repeat="header in headers" class="{{header.short}} {{header.medal}}" ng-class="{selected: header == selected}" ng-click="sortTable(header)"><div class="title">{{header.title}}</div> <div class="medal-swatch" ng-if="header.medal"></div> </th>
          </tr>

          <tr ng-repeat="a in all | filter:searchText | limitTo : 15 : index">
            <td class="name">{{a.first}} {{a.last}}
            <td class="sport">{{a.sport}} 
            <td class="country">{{a.country}}
            <td class="years">{{a.season}} {{a.years}}
            <td class="affiliation">{{a.affiliation}}
            <td ng-mouseover="showTooltip(a, 'Gold')" class="gold medal" ng-class="{bold: a.gold > 0}">{{a.gold}}
            <td ng-mouseover="showTooltip(a, 'Silver')" class="silver medal" ng-class="{bold: a.silver > 0}">{{a.silver}}
            <td ng-mouseover="showTooltip(a, 'Bronze')" class="bronze medal" ng-class="{bold: a.bronze > 0}">{{a.bronze}}
          </tr>
        </table>

        <div class="tooltip" ng-style="{left: left + 'px', top: top + 'px'}">
          <div class="medal-label">{{tooltip.medal}}</div>
          <div class="medal-box" ng-repeat="m in tooltip.data">
            <div>{{m.Games}} ({{m.City}})</div>
            <div><em>{{m.Event}}</em></div>
          </div>
        </div>

        <div class="arrows">
          <div class="pages">Page {{index / 15 + 1}} of {{round(length / 15)}}</div>
          <div class="advance" ng-click="advance(-1)" ng-class="{disabled: index < 1}">< Previous</div> <span ng-class="{disabled: index < 1 || (index + 15) >= length}">|</span> <div class="advance" ng-click="advance(1)" ng-class="{disabled: (index + 15) >= length}">Next ></div>
        </div>
        
        <div class="credit">AUDREY CARLSEN / THE SEATTLE TIMES</div>

      </div>

    </responsive-child>

    <script>
      <%
        var data = [];
        json.WashingtonianHistoricalOlympians_BornInWashington.forEach(function(row) {
          row.season = (row.season == "0") ? "Summer" : "Winter";
          row.years_shortened = row.years.toString().slice(0,4);
          data.push(row)
        });

        var medalData = {};
        json.WashingtonianHistoricalOlympians_MedalDetails.forEach(function(row) {
          if (!medalData[row.Athlete]) medalData[row.Athlete] = {};
          if (row.Medal) {
            if (!medalData[row.Athlete][row.Medal]) medalData[row.Athlete][row.Medal] = [];
              medalData[row.Athlete][row.Medal].push(row)
          }
        });
      %>
      var olympicsData = <%= JSON.stringify(data) %>;
      var medalData = <%= JSON.stringify(medalData) %>;
    </script>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
