<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_head.html") %>
    <style>
      [ng-cloak] {
      display: none;
      }
    </style>
  </head>
  <body ng-app="olympics-table">

    <responsive-child>
      <div ng-controller="OlympicsController" class="outer" ng-cloak>
        <table>
          <tr>
            <th ng-repeat="header in headers" class="{{header.short}}" ng-click="sortTable(header)">{{header.title}}</th>
          </tr>

          <tr ng-repeat="a in all">
            <td class="name">{{a.athlete}}
            <td class="sport">{{a.sport}}
            <td class="years">{{a.season == 0 ? "Summer" : "Winter"}} {{a.years}}
            <td class="birthplace">{{a.birthplace}}
            <td class="gold">{{a.gold}}
            <td class="silver">{{a.silver}}
            <td class="bronze">{{a.bronze}}
          </tr>
        </table>
      </div>
    </responsive-child>

    <script>
      var olympicsData = <%= JSON.stringify(json.WashingtonianHistoricalOlympians_BornInWashington) %>
    </script>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
