<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_head.html") %>
    <style>
      [ng-cloak] {
      display: none;
      }
    </style>
  </head>
  <body ng-app="olympics-table">

    <responsive-child>
      <div ng-controller="OlympicsController" class="outer" ng-cloak>
        <div class="search-container">
          <span class="search">Search:</span>
          <input type="text" ng-model="searchText">
        </div>

        <table>
          <tr>
            <th ng-repeat="header in headers" class="{{header.short}} {{header.medal}}" ng-class="{selected: header == selected}" ng-click="sortTable(header)"><div class="title">{{header.title}}</div> <div class="medal-swatch" ng-if="header.medal"></div> </th>
          </tr>

          <tr ng-repeat="a in all | filter:searchText | limitTo : 20 : index">
            <td class="name">{{a.athlete}}
            <td class="sport">{{a.sport}}
            <td class="years">{{a.season == 0 ? "Summer" : "Winter"}} {{a.years}}
            <td class="birthplace">{{a.birthplace}}
            <td class="gold medal">{{a.gold}}
            <td class="silver medal">{{a.silver}}
            <td class="bronze medal">{{a.bronze}}
          </tr>
        </table>

        <div class="arrows">
          <div class="advance" ng-click="advance(-1)">< Previous</div> | <div class="advance" ng-click="advance(1)">Next ></div>
        </div>
        
        <div class="source"><em>Source: tktk</em></div>
        <div class="credit">AUDREY CARLSEN / THE SEATTLE TIMES</div>

      </div>

    </responsive-child>

    <script>
      var olympicsData = <%= JSON.stringify(json.WashingtonianHistoricalOlympians_BornInWashington) %>
    </script>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
